html{
  text-align: center;
  background: linear-gradient(to right,#3281ff,lightblue,#3281ff);

}
.box{
    background:white;
    height:200px;
    width:auto;
    border:1px blue solid;
}

.pop-up{
    margin: auto;
    position: absolute;
    top:30%; left:5%; bottom:0; right: 5%;
}

.box h4{
    background:lightblue;
    padding:1%;
    margin:0;
}

input{
    width:80%;
    height:30px;
    margin:3% 0 1% 0;
}

button{
    background:lightblue;
    padding:1%;
    margin:1%;
    border-radius:10px;
    width:50%;
}
.fly {
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
}

h3{
font-family: 'Arima Madurai', cursive;
font-size:4vh;
color: #f20707;
text-shadow:
    3px 3px 0 #fff,
  -1px -1px 0 #fff,
   1px -1px 0 #fff,
   -1px 1px 0 #fff,
    1px 1px 0 #fff;
}


h1{
font-family: 'Sedgwick Ave Display', cursive;
font-size:7vh;
color:#2075fc;
text-shadow:
    3px 3px 0 #fff,
  -1px -1px 0 #fff,
   1px -1px 0 #fff,
   -1px 1px 0 #fff,
    1px 1px 0 #fff;
}


h2{
font-family: 'Hind Madurai', sans-serif;
font-size:5vh;
color:black;
text-shadow:
    3px 3px 0 #fff,
  -1px -1px 0 #fff,
   1px -1px 0 #fff,
   -1px 1px 0 #fff,
    1px 1px 0 #fff;
}


a{
  margin-top:30%;
  text-decoration: none;
  font-family: 'Barlow Semi Condensed', sans-serif;
  color:white;
  text-shadow:
      3px 3px 0 #000,
    -1px -1px 0 #000,
     1px -1px 0 #000,
     -1px 1px 0 #000,
      1px 1px 0 #000;


}

.cen{
  height:100%;
  width:250px;
}
